@tailwind base;
@tailwind components;
@tailwind utilities;

.pink-gelco{
  color: #d50057;
}

.blue-gelco{
  color: #270089;
}

.cyan-gelco{
  color: rgb(000, 161, 200);
}

.bg-pink-gelco{
  background-color: rgb(197, 022, 087)
}

.bg-blue-gelco{
  background-color: rgb(052, 044, 125);
}

.bg-cyan-gelco{
  background-color: rgb(000, 161, 200);
}

.headerPage1{
  background-image: url('/ddhh_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
