@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --blue-gelco: rgb(39, 0, 137);
  --cyan-gelco: rgb(0, 161, 200);
  --pink-gelco: rgb(197, 22, 87);
}

::selection{
  background-color: var(--cyan-gelco);
  color: white;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(245, 245, 244);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-gelco);
  border-radius: 10px;
  border: 3px solid rgb(245, 245, 244);
}

.pink-gelco{
  color: var(--pink-gelco)
}

.blue-gelco{
  color: var(--blue-gelco)
}

.cyan-gelco{
  color: var(--cyan-gelco)
}

.bg-pink-gelco{
  background-color: var(--pink-gelco)
}

.bg-blue-gelco{
  background-color: var(--blue-gelco);
}

.bg-cyan-gelco{
  background-color: var(--cyan-gelco);
}

.stroke-cyan{
  stroke: var(--cyan-gelco);
}

.headerPage1{
  background-image: url('/assets/ddhh_background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.headerPage2{
  background-image: url('/assets/debida_diligencia.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.headerPage3{
  background-image: url('/assets/case3-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.text-gradient{
  background: #ccc;
  background: linear-gradient(to right, rgb(24, 5, 197), rgb(243, 51, 121));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.list-alpha{
  list-style: lower-alpha;
}

.hr-gradient{
  height: 5px;
  border: none;
  background-image: linear-gradient(to right, var(--blue-gelco), var(--pink-gelco));
}

.full-screen-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

select:focus{
  outline: none;
}

p > span{
  font-weight: 550;
}
