@tailwind base;
@tailwind components;
@tailwind utilities;

.pink-gelco{
  color: #d50057;
}

.bg-pink-gelco{
  background-color: #d50057
}

.bg-blue-gelco{
  background-color: #270089;
}


.blue-gelco{
  color: #270089;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
